/*
    Modified By: Sharon Goodrich & Alix Field
    GP: EverythingPizza
    GP2: Alix Field

    Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
      for details on configuring this project to bundle and minify static web assets.
*/

a {
    text-decoration: none;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    /*background-image: url(/images/wallpapersCraft3.jpg);*/
}

/*  Wrapping element 
    Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/*Make .svg files in the carousel display properly in older browsers 

.carousel-inner .item img[src=".svg"] {
    width: 100%;
    position: absolute;
    z-index: -1;
}*/

.doBlack {
    color: #000;
}

.doWhite {
    color: #fff;
}

.featureH3 {
    color: burlywood;
    font-size: 23px;
    font-family: 'Kodchasan', sans-serif;
}

h1 {
    color: white;
    color: #6daf27;
    font-size: 350%;
    font-family: 'Rock Salt', cursive;
    position: relative;
    z-index: 1;
    width: 48%;
    float: left;
    /* 
        font-family: 'Charmonman', cursive;      
        font-family: 'Cookie', cursive;
        font-family: 'Marck Script', cursive;
        font-size: 460%;
        font-weight: bold;
        color: burlywood;

    */
}

h2 {
    color: #6daf27;
    font-family: 'Kodchasan', sans-serif;
}

h3 {
    color: burlywood;
    font-size: 23px;
    font-family: 'Kodchasan', sans-serif;
}

/*Alix Field: 10.30.18*/
h4 {
    color: #adadad;
    font-size: 16px;
    font-family: 'Kodchasan', sans-serif;
}

.myButton {
    font-weight: bold;
    border: 3px solid red;
}

/*Alix Field: 12.03.18 _ Keeps page below Navbar*/
.navbar-fixed-top{    
    top: -50px
}

/*Alix Field: 12.03.18 _ Keeps page below Navbar*/
.navbar-fixed-top, navbar-fixed-bottom{
    position: relative;
}

 .noLine {
     text-decoration: none;
 }

/* QR code generator */
#qrCode {
    margin: 15px;
}

.top-info {
    float: right;
    color: burlywood;
    font-size: 20px;
    width: 40%;
}

ul {
    list-style-type: none;
}


/*Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    h1 {
        font-size: 250%;
    }
}



