<!--
    Alix Field
    Controller: ContactInfoes
    Method: Success
    Lets the user know that their email was sent to the admin or owner of site
-->
@{
    ViewData["Title"] = "Success";
}

<body >
    <br />
    <h1 class="text-center">
        Success!
    </h1>
    <br />
    <h3 class="text-center">
        <br />
        Message Recieved! <br />
    </h3>
</body>

