<!-- EverythingPizza - Group Project
     CIS-2284 - November/December 2018
     Group Members: Alix Field, Sharon Goodrich & Jonathan McPeak
     Page: Views/Home/About   -->

<!--Sharon Goodrich - sgoodrich1@cnm.edu-->

@{
    ViewData["Title"] = "About";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-3">
        <h2>Alix</h2>
        <ul>
            <li></li><!--Photo free from pixabay.com-->
            <li><img src="~/images/pixabayblond.jpg" alt="Alix" class="img-responsive" /></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Jonathan</h2>
        <ul class="noStyle">
            <!--Photo free from worthpoint.com-->
            <li><img src="~/images/worthpoint.jpg" alt="Jonathan" class="img-responsive" /></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sharon</h2>
        <ul>
            <!--Photo free from pixabay.com-->
            <li><img src="~/images/pixabaybrunette.jpg" alt="Sharon" class="img-responsive" /></li>
        </ul>
    </div>

</div>
<div class="row">
    <div class=" = featureH3">
        <p>We love pizza, and we wanted a quick way to find the best pizza places near us.</p>
        <p>The way this works:</p>
        <ul>
            <li>Become a member</li>
            <li>Gain access to awesome pizza places in your area</li>
            <li>Rate pizza places you've tried</li>
            <li>Check out the ratings from other members on pizza places you haven't tried</li>
            <li>Access the blog and share your thoughts</li>
        </ul>
    </div>
    <ul>
        <li><a href="~/Identity/Account/Register"><h2>Join our family today!</h2></a></li>
    </ul>


</div>
