<!-- EverythingPizza - Group Project
     CIS-2284 - November/December 2018
     Group Members: Alix Field, Sharon Goodrich & Jonathan McPeak
     Page: Views/Home/Privacy
-->

@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>@ViewData["Title"]</h2>

<p>Your privacy is important to us. We will never share or sell your information to other parties.</p>
